:root{
    --morado: #640D5F;
    --rojo:#B12C00;
    --piel:#EB5B00;
    --amarillo:#FFCC00;
    --blanco:#fff;
    --negro:#000;
    --fuente-principal: Arial, Helvetica, "Segoe UI", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.body{
    font-family: var(--fuente-principal);
}

li {
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
}

/* Resolución de celular */
.header{
    background-color: var(--amarillo);
    display: flex;
    flex-flow: row wrap;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .header{
        flex-flow: row wrap;
        align-items: center;
    }
}

.contenedor-bandera{
    display:inline-block;
    height: 4rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .contenedor-bandera{
        height: 7rem;
    }
}

.contenedor-bandera > img{
    width: 100%;
    height: 100%;
}

.titulo-nivel1{
    display: inline-block;
    background-color: var(--amarillo);
    flex: 1;
    align-self: stretch;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .titulo-nivel1{
        font-size: 2rem;
    }
}

.btn-abrir-menu{
    font-size: 1.8rem;
    padding: 0rem 1rem;
    color: var(--negro);
    align-self: center;
    cursor: pointer;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .btn-abrir-menu{
        display: none;
    }
}

.menu{
    background-color: var(--morado);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:-100%;
    transition: left 0.3s ease;
    z-index: 1;
}

.menu.activo{
    left:0;
    transition: left 0.3s ease;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .menu{
        position: static;
        width: 100%;
        height: auto;
    }
}

.menu > ul {
    /* background-color: var(--morado); */
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
}

@media (min-width:1200px){
    .menu > ul {
        flex-flow: row wrap;
        justify-content: center;
    }
}

.menu > ul > li {
    flex:1;
    display: flex;
    flex-flow: row wrap;
}

/* El boton cerrar se alinea a la derecha mediante su contenedor */
.menu > ul > li:first-child{
    flex:1;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.menu > ul > li > a{
    flex:1;
    padding:1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.3s ease;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .menu > ul > li > a{
        justify-content: center;
    }
}

.menu > ul > li > a:hover{
    background-color: #800f7a;
}

.menu .btn-cerrar-menu{
    flex:0;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .menu .btn-cerrar-menu{
        display: none;
    }
}