:root{
    --morado: #640D5F;
    --morado-light: #74096e;
    --morado-hover: #800f7a;
    --rojo:#B12C00;
    --piel:#EB5B00;
    --amarillo:#FFCC00;
    --blanco:#fff;
    --negro:#000;
    --sombra-caja:#adadad;
    --fuente-principal: Arial, Helvetica, "Segoe UI", sans-serif;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

p{
    line-height: 1.4rem;
    margin-bottom: 0.5rem;
}

img{
    width: 100%;
}

.body{
    font-family: var(--fuente-principal);
    display: grid;
    min-height: 100vh;
}

.body-inicio {
  grid-template-rows: auto 1fr auto;
}

.body-historia,
.body-destinos {
  grid-template-rows: auto auto;
}

.body-mapa {
  grid-template-rows: auto 1fr;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .body-inicio{
        grid-template-rows: auto auto 1fr auto;
    }
    .body-historia,
    .body-mapa,
    .body-destinos{
        grid-template-rows: auto auto 1fr;
    }
}

li {
    list-style: none;
}

a{
    display: inline-block;
    text-decoration: none;
    color: var(--blanco);
}

/* Resolución de celular */
.header{
    background-color: var(--amarillo);
    display: flex;
    flex-flow: row wrap;
    z-index: 5;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .header{
        flex-flow: row wrap;
        align-items: center;
    }
}

.contenedor-bandera{
    display:inline-block;
    height: 4rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .contenedor-bandera{
        height: 7rem;
    }
}

.contenedor-bandera > img{
    /* width: 100%; */
    height: 100%;
}

.titulo-nivel1{
    display: inline-block;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .titulo-nivel1{
        font-size: 2rem;
    }
}

.contenedor-botones{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .contenedor-botones{
        margin-right: 1rem;
    }
}

.contenedor-lenguajes{
    background-color: #efefef;
    border-radius: 50px;
    padding: .1rem;
}
.contenedor-lenguajes > button{
    border-radius: 50%;
    border:1px solid #cacaca;
    padding:0.2rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .contenedor-lenguajes > button{
        font-size: 1rem;
    }
}

.contenedor-lenguajes > button:hover{
    cursor: pointer;
}

.contenedor-lenguajes > button.activo{
    background-color: var(--piel);
    color: var(--blanco);
    border:1px solid var(--piel);
}

.btn-abrir-menu{
    background-color: transparent;
    border-width: 0px;
    font-size: 1.8rem;
    padding: 0rem 1rem;
    color: var(--negro);
    /* align-self: center; */
    cursor: pointer;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .btn-abrir-menu{
        display: none;
    }
}

/*Inicio de la configuración del menu de navegación*/
.menu{
    background-color: var(--morado);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:0;
    left:-105%;
    transition: left 0.3s ease;
    z-index: 5;
    overflow-y:auto;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .menu{
        overflow-y: initial;
    }
}

.menu.activo{
    left:0;
    transition: left 0.3s ease;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .menu{
        position: static;
        width: 100%;
        height: auto;
    }
}

.menu > ul, /*ul del Menu*/
.menu > ul ul { /*ul del SubMenú*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

@media (min-width:1200px){
    .menu > ul{
        flex-flow: row wrap;
        justify-content: center;
    }
}

.menu > ul > li,
.menu > ul ul > li {
    position: relative;
    flex:1;
    display: flex;
    flex-flow: row wrap;
}

.menu > ul > li > a,
.submenu > li > a {
    flex:1;
    padding:1rem;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .menu > ul > li > a{
        justify-content: center;
    }
}

.menu > ul > li > a:hover,
.menu > ul ul > li > a:hover {
    background-color: var(--morado-hover);
}

/* Inicio de la configuración del Botón cerrar menú */
.menu > ul:first-child > li {
    display: flex;
    justify-content: flex-end;
}

.contenedor-btn-cerrar-menu{
    text-align: right;
}

.btn-cerrar-menu{
    border-width: 0;
    background-color: transparent;
    margin-right: 1rem;
    color: var(--blanco);
    padding: 0.7rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .btn-cerrar-menu{
        display: none;
    }
}
/* Fin de la configuración del Botón cerrar menú */

.submenu{
    background-color: var(--morado-light);
    position:initial;
    width: 100%;
    
    z-index: 1;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, 
    opacity 0.3s ease,
    bottom 0.3s ease;
}   

/*Resolución de desktop*/
@media (min-width:1200px){
    .submenu{
        position: absolute;
        top:100%;
        background-color: var(--morado);
    }   
}

.submenu > li > a{
    color: var(--blanco);
    padding-left: 2rem;
}

/* Se activa por medio de Javascript para que el submenu aparezca en resolución movil y tablet */
.submenu.activo{
    max-height: 50rem;
    opacity: 1;
}

.submenu > li > a:hover{
    background-color: var(--morado);
    color: var(--blanco);
}

.menu-activo{
    background-color: var(--morado-hover);
}

/* Fin de la configuración del menú de navegación */

/* Inicio de la configuración del carrusel */
.main-inicio{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 0;
}

.carrusel {
    position: relative;
    width: 90%;
    height: 20rem;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
}

.slide {
    min-width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botones */
.btn-prev, .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 0.6rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 4;
}

.btn-prev { left: 10px; }
.btn-next { right: 10px; }

/* Indicadores */
.indicadores {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.indicadores .dot {
    width: 12px;
    height: 12px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dot.activo {
    background: #333;
}

/* Termina el carrusel */

/* Empieza el footer */
.footer{
    background-color: var(--piel);
    padding:1rem 5rem;
}

.footer > .titulo-nivel2{
    color: var(--blanco);
    text-align: center;
    font-size: 1.5rem;
}

/*Resolución de tablet*/
@media (min-width:600px){
    .footer > .titulo-nivel2{
        text-align: left;
        font-size: 1.5rem;
    }
}

.redes-sociales{
    margin-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.redes-sociales > li > a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap:0.2rem;
}

.redes-sociales img{
    height: 2rem;
    width: 2rem;
    color: var(--blanco);
}

/* Termina el footer */

/*Configuración del main-historia*/

.main-historia{
    margin: 1.5rem 0;
    padding: 0rem 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    padding: 1rem;
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .main-historia{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;

    }
}

.main-historia > section:nth-child(2){
    display: grid;
    gap: 1rem;
}

.main-historia > section > .titulo-nivel2{
    margin-bottom: 1rem;
}

.main-historia > section > figure{
    width: 100%;
    box-shadow: 5px 5px 5px var(--sombra-caja);
    overflow: hidden;
}

.main-historia > section > figure > img{
    /* width: 100%; */
    opacity: 0;
    animation: aparecer 1s ease forwards;
}

.main-historia > section > iframe{
    width: 100%;
    opacity: 0;
    animation: aparecer 1s ease forwards;
}

@keyframes aparecer {
  to {
    opacity: 1;
  }
}

/*Fin del main-historia*/

/*Inicio de estilos del main-mapa*/

.main-mapa{
    display: flex;
}

.main-mapa > iframe{
    flex:1;
    border: none;
}

/* Fin del main-mapa */

/* Inicio del main-destinos caceres*/
.main-destinos {
    padding:1rem;
    margin: auto;
}

/*Resolución de tablet*/
@media (min-width:600px){
    .main-destinos {
        width: 85%;
    }
}

/*Resolución de Desktop*/
@media (min-width:1200px){
     .main-destinos {
        width: 75%;
    }   
}

.main-destinos > .titulo-nivel2 {
    text-align: center;
    /* margin-bottom: 1rem; */
}
.main-destinos .titulo-nivel2,
.main-destinos .titulo-nivel3{
    margin: 1rem 0;
}

.titulo-nivel4{
    margin: 1rem 0;
}

.main-destinos > section > article {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 1rem 0;
}

/*Resolución de Desktop*/
@media (min-width:1200px){
    .main-destinos > section > article {
        grid-template-columns: 1fr 1fr;
    }
}

.main-destinos > section > article > figure {
    width: 100%;
    text-align: center;
}

/*Resolución de Desktop*/
@media (min-width:1200px){
    .main-destinos > section > article > figure > img{
        margin-top:3.5rem;
        opacity: 0;
        animation: aparecer 1s ease forwards;
    }
}

.main-destinos > section > article ul{
    margin-top: 1rem;
}

.main-destinos > section > article ul > li{
    list-style: disc;
    margin-left: 1rem;
    line-height: 1.4rem;
}

/* Fin del main-destinos caceres */

/* inicio de islas-baleares*/

.contenedor_imagen > figure{
    width: 100%;
    height: 15rem;
    overflow: hidden;
    margin: 1rem 0;
}

/*Resolución de tablet*/
@media (min-width:600px){
    .contenedor_imagen > figure{
        height: 25rem;
    }
}

/*Resolución de desktop*/
@media (min-width:1200px){
    .contenedor_imagen > figure{
        height: 15rem;
    }
}

/* Fin de islas-baleares*/

/* Configuración de estilos para imágenes verticales */
.imagen-vertical{
    height: 20rem;
    width: auto;
}
/* Fin de imágenes verticales*/

/* Contenedor de 1 imagen */
.contenedor-imagen-x1 {
    width: 100%;
    margin: 0 auto;
}

/*Resolución de tablet*/
@media (min-width:600px){
    .contenedor-imagen-x1 {
        width: 70%;
    }
}

/* Fin del contenedor de 1 imagen */

/* Contenedor de 2 imágenes en grid */

.main-destinos > section > article.articulo-imagenes-x2{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}


/*Resolución de Tablet*/
@media (min-width:600px){

    .main-destinos > section > article.articulo-imagenes-x2 > div:nth-child(2){
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .main-destinos > section > article.articulo-imagenes-x2 > div:nth-child(2) > figure{
        height: 35rem;
        overflow: hidden;
    }
}

/*Resolución de Desktop*/
@media (min-width:1200px){

    .main-destinos > section > article.articulo-imagenes-x2 > div:nth-child(1){

        grid-column: 1 / -1;
        justify-self: center;     
        width: 100%;
    }
    .main-destinos > section > article.articulo-imagenes-x2 > div:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .main-destinos > section > article.articulo-imagenes-x2 > div:nth-child(2) > figure{
        height: 25rem;
        overflow: hidden;
    }
}

/* Fin del contenedor de 2 imágenes en grid */



/* Contenedor de 3 imágenes en grid */
.contenedor-imagenes-x3{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

/*Resolución de Desktop*/
@media (min-width:1200px){
    .contenedor-imagenes-x3{
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-imagenes-x3 > div:nth-child(3){
        grid-column: 1 / -1; /* ocupa todas las columnas */
        justify-self: center;     
        width: 50%;
    }
}
/* Fin del contenedor de 3 imágenes en grid */

